@import url(https://fonts.googleapis.com/css?family=Georgia&display=swap);

body {
    font-family: Georgia;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    background-size: 100em;
}

.nav-label-left {
    display:inline;
    width: 30%;
    float: left;
    font-size: 3.5em;
    margin-left: 0.2em;
}

.container-nav-label-r {
    display: inline; 
    width: 70%;
    float: right;
}

.nav-label-right {
    width: 20%;
    float: right;
    text-align: center;
    font-size: 3em;
    margin-top: 0.5em;
}

.head {
    font-size: 4em;
    text-align: center;
    margin-bottom: 0.3em;
    margin-top: 1em;
}

.container-about-me {
    display: inline-block
}

.my-photo {
    width: 34em;
    margin-right: 3em;
    display: flex;
    justify-content: center;
    float: right;
}

.txt-about-me {
    width: 60%;
    text-align: left;
    float: left;
    font-size: 2.5em;
    margin-left: 0.5em;
}

.container-exp {
    margin-bottom: 7em;
}

.left-col-exp {
    width: 70%;
    float: left;
    margin-left: 0.5em;
}

.rigt-col-exp {
    width: 30%;
    float: right;
}

.txt-discr {
    font-size: 2.5em;
}

.icon {
    margin-right: 0.5em;
    width: 5%;
}

.icon-lessons-left {
    width: 11em;
    text-align: center;
    float: left;
    margin-left: 6em;
}

.icon-lessons-right {
    width: 11em;
    align-content: center;
    float: right;
    margin-right: 6em;
}

.big-icon {
    width: 25%;
    margin-top: 4em;
}

.txt-lessons-left {
    text-align: left;
    float: left;
    font-size: 2.5em;
    margin-left: 0.5em;
    width: 70%;

}

.txt-lessons-right {
    text-align: right;
    float: right;
    font-size: 2.5em;
    margin-right: 0.5em;
    width: 70%;

}

.txt-contact {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.contact-icon {
    width: 4em;
}

@media (max-width: 1550px) {
    .txt-about-me {
        width: 96%;
        text-align: left;
        font-size: 2.5em;
        margin-left: 0.5em;
    }
    .container-my-photo{
        display: table;
        width: 100%;
    }
    .my-photo {
        width: 35em;
        display: block;
        margin: 0 auto;
        margin-top: 2em;
        justify-content: center;
        float: none;
    }

    .nav-label-left {
        font-size: 3em;
        margin-left: 0.2em;
    }
    
    .nav-label-right {
        width: 20%;
        float: right;
        text-align: center;
        font-size: 2.5em;
        margin-top: 0.3em;
        margin-right: 0.5em;
    }
    
    .head {
        font-size: 3em;
        text-align: center;
        margin-bottom: 0.3em;
        margin-top: 1em;
    }
    
    .container-about-me {
        display: inline-block
    }

    .container-exp {
        margin-bottom: 0;
    }
    
    .left-col-exp {
        width: 100%;
        float: left;
        margin-left: 0.5em;
    }
    
    .txt-discr {
        font-size: 2.5em;
    }
    
    .icon {
        margin-right: 0.5em;
        width: 8%;
    }
    
    .icon-lessons-left {
        width: 11em;
        text-align: center;
        float: left;
        margin-left: 6em;
    }
    
    .icon-lessons-right {
        width: 11em;
        align-content: center;
        float: right;
        margin-right: 6em;
    }
    
    .big-icon {
        width: 25em;
        margin-right: 0;
        display: block;
        margin: 0 auto;
        justify-content: center;
        float: none;
    }
    
    .txt-lessons-left {
        text-align: left;
        float: left;
        font-size: 2.5em;
        margin-left: 0.5em;
        width: 70%;
    
    }
    
    .txt-lessons-right {
        text-align: right;
        float: right;
        font-size: 2.5em;
        margin-right: 0.5em;
        width: 70%;
    
    }
    
    .txt-contact {
        display: flex;
        justify-content: center;
        font-size: 1.3em;
    }
    
    .contact-icon {
        width: 4em;
    }

}

@media (max-width: 1000px) {
    .txt-about-me {
        width: 96%;
        text-align: left;
        font-size: 1.8em;
        margin-left: 0.5em;
    }
    .container-my-photo{
        display: table;
        width: 100%;
    }
    .my-photo {
        width: 26em;
        display: block;
        margin: 0 auto;
        margin-top: 2em;
        justify-content: center;
        float: none;
    }

    .nav-label-left {
        font-size: 2.5em;
        text-align: left;
    }
    
    .nav-label-right {
        width:25%;
        float: right;
        text-align: center;
        font-size: 2em;
        margin-top: 0.3em;
        margin-right:0;
    }
    
    .head {
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 0.3em;
        margin-top: 1em;
    }
    
    .container-about-me {
        display: inline-block
    }
    
    .left-col-exp {
        width: 100%;
        float: left;
        margin-left: 0.5em;
    }
    
    .txt-discr {
        font-size: 2em;
    }
    
    .icon {
        margin-right: 0.5em;
        width: 8%;
    }
    
    .icon-lessons-left {
        width: 9em;
        text-align: center;
        float: left;
        margin-left: 2em;
    }
    
    .icon-lessons-right {
        width: 9em;
        align-content: center;
        float: right;
        margin-right: 2em;
    }
    
    .big-icon {
        width: 20em;
        margin-right: 0;
        display: block;
        margin: 0 auto;
        justify-content: center;
        float: none;
    }
    
    .txt-lessons-left {
        text-align: left;
        float: left;
        font-size: 1.8em;
        margin-left: 0.5em;
        width: 70%;
    
    }
    
    .txt-lessons-right {
        text-align: right;
        float: right;
        font-size: 1.8em;
        margin-right: 0.5em;
        width: 70%;
    
    }
    
    .txt-contact {
        display: flex;
        justify-content: center;
        font-size: 1.3em;
    }
    
    .contact-icon {
        width: 4em;
    }
}

@media (max-width: 650px) {
    .txt-about-me {
        width: 100%;
        text-align: left;
        font-size: 1.3em;
    }
    .container-my-photo{
        display: table;
        width: 100%;
    }
    .my-photo {
        width: 15em;
        display: block;
        margin: 0 auto;
        margin-top: 2em;
        justify-content: center;
        float: none;
    }

    .nav-label-left {
        font-size: 2.5em;
        text-align: left;
    }
    
    .nav-label-right {
        float: right;
        text-align: right;
        font-size: 1.5em;
        margin-top: 0.3em;
        width: 100%;
    }
    
    .head {
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 0.3em;
        margin-top: 1em;
    }
    
    .container-about-me {
        display: inline-block
    }
    
    .left-col-exp {
        width: 100%;
        float: left;
    }
    
    .txt-discr {
        font-size: 2em;
    }
    
    .icon {
        margin-right: 0.5em;
        width: 8%;
    }
    
    .container-icons-lsns {
        display: table;
        width: 100%;
    }

    .icon-lessons-left {
        width: 9em;
        display: block;
        margin: 0 auto;
        justify-content: center;
        float: none;
    }
    
    .icon-lessons-right {
        width: 9em;
        display: block;
        margin: 0 auto;
        justify-content: center;
        float: none;
    }
    
    .big-icon {
        width: 16em;
        margin-right: 0;
        display: block;
        margin: 0 auto;
        justify-content: center;
        float: none;
    }


    .txt-lessons-left {
        text-align: left;
        float: left;
        margin-left: 0.2em;
        font-size: 1.8em;
        width: 100%;
    
    }
    
    .txt-lessons-right {
        text-align: left;
        float: left;
        margin-left: 0.2em;
        font-size: 1.8em;
        width: 100%;
    
    }
    
    .txt-contact {
        display: flex;
        justify-content: center;
        font-size: 1.3em;
    }
    
    .contact-icon {
        width: 4em;
    }
}